---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media

components:
  - ../../components/sops
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./qbittorrent/ks.yaml
  - ./qui/ks.yaml
  - ./pvcs/ks.yaml
  - ./booklore/ks.yaml
  # - ./bookarr/ks.yaml
