---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app wyoming-whisper
  namespace: home
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  dependsOn: []
  interval: 1h

  values:
    controllers:
      wyoming-whisper:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: rhasspy/wyoming-whisper
              tag: 3.1.0@sha256:9501d2659eee83b6eead98d53842193e5fed011eda6c5b1c3ad36f3146b28fed
            args:
              - --model
              - base
              - --language
              - en
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 4Gi
    service:
      app:
        controller: wyoming-whisper
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.10.40
        ports:
          http:
            enabled: true
            primary: false
            port: &port 8000
          whisper:
            enabled: true
            primary: true
            port: 10300
            protocol: TCP
    route:
      app:
        hostnames:
          - "whisper.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
      dri:
        type: hostPath
        hostPath: /dev/dri
        globalMounts:
          - path: /dev/dri
