---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: cloudflare-tunnel
spec:
  endpoints:
    - dnsName: "${SECRET_DOMAIN}"
      recordType: CNAME
      targets: ["adbd0ee2-7e98-40ac-9b14-f502c5bac329.cfargotunnel.com"]
    - dnsName: "*.${SECRET_DOMAIN}"
      recordType: CNAME
      targets: ["adbd0ee2-7e98-40ac-9b14-f502c5bac329.cfargotunnel.com"]
