---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: bookarr
spec:
  chartRef:
    kind: OCIRepository
    name: bookarr
  interval: 1h
  values:
    controllers:
      bookarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/faustvii/bookarr
              tag: latest@sha256:c6e753cfcf0309b289d01dfb6b4cf8040aada949a99ed8137bd4a8e783712a32
            env:
              TZ: America/New_York
              DATABASE__USEPOSTGRES: "true"
              CACHE__CACHEPATH: /cache/bookarrCache.db
              CONNECTIONSTRINGS__BOOKARRDB:
                valueFrom:
                  secretKeyRef:
                    name: bookarr-postgres
                    key: connectionString
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /alive
                    port: &port 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      imagePullSecrets:
        - name: docker-registry-ghcr
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      config:
        type: emptyDir
      cache:
        type: emptyDir
      #   existingClaim: "{{ .Release.Name }}"
      # media:
      #   type: nfs
      #   server: isos.${SECRET_DOMAIN}
      #   path: /mnt/linux/isos
      #   globalMounts:
      #     - path: /media/isos
      #       subPath: isos
