---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./grafanadashboard.yaml
configMapGenerator:
  - name: cnpg-grafana-dashboard
    files:
      - cnp.json=https://raw.githubusercontent.com/cloudnative-pg/grafana-dashboards/19f534b2b3d2d34e871d656351599eb8b170ad86/charts/cluster/grafana-dashboard.json
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
  labels:
    grafana_dashboard: "1"
