---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: goldilocks
spec:
  interval: 1h
  chart:
    spec:
      chart: goldilocks
      version: 10.3.0
      sourceRef:
        kind: HelmRepository
        name: fairwinds-goldilocks
  values:
    controller:
      enabled: true
      includedNamespaces:
        - observability
        - default
        - media
        - database
        - matrix

    dashboard:
      enabled: true
      service:
        type: ClusterIP
        port: 8080

    vpa:
      enabled: false
