---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: games

components:
  - ../../components/sops
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./minecraft/ks.yaml
