
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: democratic-csi
spec:
  chartRef:
    kind: OCIRepository
    name: democratic-csi
  interval: 1h
  values:
    csiDriver:
      name: local-hostpath.democratic-csi
      storageCapacity: true
      attachRequired: false
      fsGroupPolicy: File
    storageClasses:
      - name: democratic-csi-hostpath
        defaultClass: true
        reclaimPolicy: Delete
        volumeBindingMode: Immediate
        allowVolumeExpansion: false
    volumeSnapshotClasses:
      - name: csi-democratic-csi-hostpath
        deletionPolicy: Delete
        parameters:
          cluster: k8s
    controller:
      enabled: true
      strategy: node
      externalProvisioner:
        enabled: true
      externalResizer:
        enabled: false
      externalAttacher:
        enabled: false
      externalSnapshotter:
        enabled: true
    node:
      driver:
        extraVolumeMounts:
          - name: local-hostpath
            mountPath: &path /var/mnt/local-hostpath
            mountPropagation: Bidirectional
      extraVolumes:
        - name: local-hostpath
          hostPath:
            path: *path
            type: DirectoryOrCreate
    driver:
      image:
        registry: ghcr.io/democratic-csi/democratic-csi
        tag: v1.9.5
      config:
        driver: local-hostpath
        instance_id: k8s-local-hostpath
        local-hostpath:
          shareBasePath: *path
          controllerBasePath: *path
          dirPermissionsMode: "0770"
          dirPermissionsUser: 0
          dirPermissionsGroup: 0
