---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: mc-router
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 1.4.0
  url: oci://ghcr.io/itzg/minecraft-server-charts/mc-router
---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mc-router
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: mc-router
  dependsOn: []
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    image:
      repository: ghcr.io/itzg/mc-router
      tag: 1.39.1@sha256:be109433f1a67a6d925d93842018ae4d9dcb37f9df5ef3b246925343782233ab
      pullPolicy: IfNotPresent

    extraEnv:
      WEBHOOK_REQUIRE_USER: "true"
      WEBHOOK_URL: "http://localhost:8080/event"


    sidecarContainers:
      - name: api
        image: "jschuler99/svc-router:0.0.1"
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: 8080
            name: api
          - containerPort: 24454
            name: voice
            protocol: UDP
        resources:
          requests:
            cpu: 10m
            memory: 512Mi
          limits:
            cpu: 1
            memory: 1Gi


    minecraftRouter:
      defaultServer:
        host: "192.168.10.31"
        port: 25565

    services:
      minecraft:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.10.30
          external-dns.alpha.kubernetes.io/hostname: mc.${SECRET_DOMAIN}, minecraft.${SECRET_DOMAIN}
