---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: &name postgres
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: enabled
spec:
  instances: 1


  imageName: ghcr.io/cloudnative-pg/postgresql:18.1-standard-trixie@sha256:bbefe420af6ba639167cf6b5ea385a5a5816db47cfaa8c6b1fecc2c503b8df81

  storage:
    size: 8Gi
  managed:
    services:
      additional:
        - selectorType: r
          serviceTemplate:
            metadata:
              name: postgres-18
              annotations:
                 gatus.home-operations.com/enabled: "true"
            spec:
              type: ClusterIP
          updateStrategy: patch


  # bootstrap:
    # recovery:
    #   source: &src source

  plugins:
    - name: &plugin barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: &store minio-store

  externalClusters:
    - name: source
      plugin:
        name: *plugin
        parameters:
          barmanObjectName: *store
          serverName: postgres

  monitoring:
    enablePodMonitor: true
